<%- include('partials/header') %>

<div class="card mb-6">
  <h5 class="card-header">Add New Tree</h5>
  <div class="card-body">
    <% if (error) { %>
      <div class="alert alert-danger" role="alert"><%= error %></div>
    <% } %>

    <form action="/add" method="POST">
      <div class="row g-4">
        <div class="col-md-4">
          <label class="form-label">Tree Name</label>
          <input class="form-control" type="text" name="treename" placeholder="Tree Name (Required)" />
        </div>
        <div class="col-md-4">
          <label class="form-label">Description</label>
          <input class="form-control" type="text" name="description" placeholder="Description (Required)" />
        </div>
        <div class="col-md-4">
          <label class="form-label">Image Filename</label>
          <input class="form-control" type="text" name="image" placeholder="phonglan.png" />
        </div>
      </div>
      <div class="mt-4 d-flex gap-2">
        <button type="submit" class="btn btn-primary">Add Tree</button>
      </div>
    </form>

    <form action="/reset" method="POST" class="mt-3">
      <button type="submit" class="btn btn-danger" onclick="return confirm('Clean all data?')">Reset All Data</button>
    </form>
  </div>
</div>

<div class="card">
  <h5 class="card-header">Tree Inventory</h5>
  <div class="table-responsive text-nowrap">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Image</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        <% trees.forEach(tree => { %>
          <tr>
            <td><strong><%= tree.treename %></strong></td>
            <td>
              <img src="/images/<%= tree.image %>" alt="<%= tree.treename %>" width="80" class="tree-img rounded" />
            </td>
            <td><%= tree.description %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>

<div class="card mt-6">
  <h5 class="card-header">Table Basic (Materio Sample)</h5>
  <div class="table-responsive text-nowrap">
    <table class="table">
      <thead>
        <tr>
          <th>Project</th>
          <th>Client</th>
          <th>Users</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        <tr>
          <td><i class="ri-suitcase-2-line ri-22px text-danger me-4"></i><span>Tours Project</span></td>
          <td>Albert Cook</td>
          <td>
            <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
              <li class="avatar avatar-xs pull-up" data-bs-toggle="tooltip" data-bs-placement="top" title="Lilian Fuller">
                <img src="/materio-assets/img/avatars/5.png" alt="Avatar" class="rounded-circle" />
              </li>
              <li class="avatar avatar-xs pull-up" data-bs-toggle="tooltip" data-bs-placement="top" title="Sophia Wilkerson">
                <img src="/materio-assets/img/avatars/6.png" alt="Avatar" class="rounded-circle" />
              </li>
              <li class="avatar avatar-xs pull-up" data-bs-toggle="tooltip" data-bs-placement="top" title="Christina Parker">
                <img src="/materio-assets/img/avatars/7.png" alt="Avatar" class="rounded-circle" />
              </li>
            </ul>
          </td>
          <td><span class="badge rounded-pill bg-label-primary me-1">Active</span></td>
          <td>
            <div class="dropdown">
              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                <i class="ri-more-2-line"></i>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item waves-effect" href="javascript:void(0);"><i class="ri-pencil-line me-1"></i> Edit</a>
                <a class="dropdown-item waves-effect" href="javascript:void(0);"><i class="ri-delete-bin-6-line me-1"></i> Delete</a>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td><i class="ri-basketball-fill ri-22px text-info me-4"></i><span>Sports Project</span></td>
          <td>Barry Hunter</td>
          <td>
            <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
              <li class="avatar avatar-xs pull-up"><img src="/materio-assets/img/avatars/5.png" alt="Avatar" class="rounded-circle" /></li>
              <li class="avatar avatar-xs pull-up"><img src="/materio-assets/img/avatars/6.png" alt="Avatar" class="rounded-circle" /></li>
              <li class="avatar avatar-xs pull-up"><img src="/materio-assets/img/avatars/7.png" alt="Avatar" class="rounded-circle" /></li>
            </ul>
          </td>
          <td><span class="badge rounded-pill bg-label-success me-1">Completed</span></td>
          <td>
            <div class="dropdown">
              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="ri-more-2-line"></i></button>
              <div class="dropdown-menu">
                <a class="dropdown-item waves-effect" href="javascript:void(0);"><i class="ri-pencil-line me-2"></i> Edit</a>
                <a class="dropdown-item waves-effect" href="javascript:void(0);"><i class="ri-delete-bin-6-line me-2"></i> Delete</a>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td><i class="ri-leaf-fill ri-22px text-success me-4"></i><span>Greenhouse Project</span></td>
          <td>Trevor Baker</td>
          <td>
            <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
              <li class="avatar avatar-xs pull-up"><img src="/materio-assets/img/avatars/5.png" alt="Avatar" class="rounded-circle" /></li>
              <li class="avatar avatar-xs pull-up"><img src="/materio-assets/img/avatars/6.png" alt="Avatar" class="rounded-circle" /></li>
              <li class="avatar avatar-xs pull-up"><img src="/materio-assets/img/avatars/7.png" alt="Avatar" class="rounded-circle" /></li>
            </ul>
          </td>
          <td><span class="badge rounded-pill bg-label-info me-1">Scheduled</span></td>
          <td>
            <div class="dropdown">
              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="ri-more-2-line"></i></button>
              <div class="dropdown-menu">
                <a class="dropdown-item waves-effect" href="javascript:void(0);"><i class="ri-pencil-line me-2"></i> Edit</a>
                <a class="dropdown-item waves-effect" href="javascript:void(0);"><i class="ri-delete-bin-6-line me-2"></i> Delete</a>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td><i class="ri-bank-fill ri-22px text-primary me-4"></i><span>Bank Project</span></td>
          <td>Jerry Milton</td>
          <td>
            <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
              <li class="avatar avatar-xs pull-up"><img src="/materio-assets/img/avatars/5.png" alt="Avatar" class="rounded-circle" /></li>
              <li class="avatar avatar-xs pull-up"><img src="/materio-assets/img/avatars/6.png" alt="Avatar" class="rounded-circle" /></li>
              <li class="avatar avatar-xs pull-up"><img src="/materio-assets/img/avatars/7.png" alt="Avatar" class="rounded-circle" /></li>
            </ul>
          </td>
          <td><span class="badge rounded-pill bg-label-warning me-1">Pending</span></td>
          <td>
            <div class="dropdown">
              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="ri-more-2-line"></i></button>
              <div class="dropdown-menu">
                <a class="dropdown-item waves-effect" href="javascript:void(0);"><i class="ri-pencil-line me-2"></i> Edit</a>
                <a class="dropdown-item waves-effect" href="javascript:void(0);"><i class="ri-delete-bin-6-line me-2"></i> Delete</a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<%- include('partials/footer') %>